numpy
sympy
scipy
numba
notebook
jupyterlab
ipykernel
black
python-lsp-server[all]
jedi
mccabe
pycodestyle
matplotlib
# pymathutils
# pybind11
# tifffile>=2023.7.10
# opencv-python>=4.8.0
# scikit-image>=0.21.0
